{% extends 'base.html' %} {% load static %} {% block content %}
<div class="section-meals gallery-item container grid grid--3-cols margin-bottom-md">
    <div class="meal">
      <img
        src="{% static 'img/meals/meal-1.jpg' %}"
        class="meal-img"
        alt="Japanese Gyozas"
      />
      <div class="meal-content">
        <div class="meal-tags">
          <span class="tag tag--vegetarian">Vegetarian</span>
        </div>
        <p class="meal-title">Japanese Gyozas</p>
        <ul class="meal-attributes">
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="flame-outline"></ion-icon>
            <span><strong>650</strong> calories</span>
          </li>
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="restaurant-outline"></ion-icon>
            <span>NutriScore &reg; <strong>74</strong></span>
          </li>
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="star-outline"></ion-icon>
            <span><strong>4.9</strong> rating (537)</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="meal">
      <img
        src="{% static 'img/gallery/gallery-1.jpg' %}"
        class="meal-img"
        alt="Japanese Gyozas"
      />
      <div class="meal-content">
        <div class="meal-tags">
          <span class="tag tag--vegetarian">Vegetarian</span>
        </div>
        <p class="meal-title">FIXME</p>
        <ul class="meal-attributes">
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="flame-outline"></ion-icon>
            <span><strong>650</strong> calories</span>
          </li>
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="restaurant-outline"></ion-icon>
            <span>NutriScore &reg; <strong>74</strong></span>
          </li>
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="star-outline"></ion-icon>
            <span><strong>4.9</strong> rating (537)</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="meal">
      <img
        src="{% static 'img/gallery/gallery-2.jpg' %}"
        class="meal-img"
        alt="Japanese Gyozas"
      />
      <div class="meal-content">
        <div class="meal-tags">
          <span class="tag tag--vegetarian">Vegetarian</span>
        </div>
        <p class="meal-title">FIXME</p>
        <ul class="meal-attributes">
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="flame-outline"></ion-icon>
            <span><strong>650</strong> calories</span>
          </li>
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="restaurant-outline"></ion-icon>
            <span>NutriScore &reg; <strong>74</strong></span>
          </li>
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="star-outline"></ion-icon>
            <span><strong>4.9</strong> rating (537)</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="meal">
      <img
        src="{% static 'img/gallery/gallery-3.jpg' %}"
        class="meal-img"
        alt="Japanese Gyozas"
      />
      <div class="meal-content">
        <div class="meal-tags">
          <span class="tag tag--vegetarian">Vegetarian</span>
        </div>
        <p class="meal-title">FIXME</p>
        <ul class="meal-attributes">
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="flame-outline"></ion-icon>
            <span><strong>650</strong> calories</span>
          </li>
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="restaurant-outline"></ion-icon>
            <span>NutriScore &reg; <strong>74</strong></span>
          </li>
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="star-outline"></ion-icon>
            <span><strong>4.9</strong> rating (537)</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="meal">
      <img
        src="{% static 'img/gallery/gallery-4.jpg' %}"
        class="meal-img"
        alt="Japanese Gyozas"
      />
      <div class="meal-content">
        <div class="meal-tags">
          <span class="tag tag--vegetarian">Vegetarian</span>
        </div>
        <p class="meal-title">FIXME</p>
        <ul class="meal-attributes">
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="flame-outline"></ion-icon>
            <span><strong>650</strong> calories</span>
          </li>
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="restaurant-outline"></ion-icon>
            <span>NutriScore &reg; <strong>74</strong></span>
          </li>
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="star-outline"></ion-icon>
            <span><strong>4.9</strong> rating (537)</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="meal">
      <img
        src="{% static 'img/gallery/gallery-5.jpg' %}"
        class="meal-img"
        alt="Japanese Gyozas"
      />
      <div class="meal-content">
        <div class="meal-tags">
          <span class="tag tag--vegetarian">Vegetarian</span>
        </div>
        <p class="meal-title">FIXME</p>
        <ul class="meal-attributes">
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="flame-outline"></ion-icon>
            <span><strong>650</strong> calories</span>
          </li>
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="restaurant-outline"></ion-icon>
            <span>NutriScore &reg; <strong>74</strong></span>
          </li>
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="star-outline"></ion-icon>
            <span><strong>4.9</strong> rating (537)</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="meal">
      <img
        src="{% static 'img/gallery/gallery-6.jpg' %}"
        class="meal-img"
        alt="Japanese Gyozas"
      />
      <div class="meal-content">
        <div class="meal-tags">
          <span class="tag tag--vegetarian">Vegetarian</span>
        </div>
        <p class="meal-title">FIXME</p>
        <ul class="meal-attributes">
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="flame-outline"></ion-icon>
            <span><strong>650</strong> calories</span>
          </li>
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="restaurant-outline"></ion-icon>
            <span>NutriScore &reg; <strong>74</strong></span>
          </li>
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="star-outline"></ion-icon>
            <span><strong>4.9</strong> rating (537)</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="meal">
      <img
        src="{% static 'img/gallery/gallery-7.jpg' %}"
        class="meal-img"
        alt="Japanese Gyozas"
      />
      <div class="meal-content">
        <div class="meal-tags">
          <span class="tag tag--vegetarian">Vegetarian</span>
        </div>
        <p class="meal-title">FIXME</p>
        <ul class="meal-attributes">
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="flame-outline"></ion-icon>
            <span><strong>650</strong> calories</span>
          </li>
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="restaurant-outline"></ion-icon>
            <span>NutriScore &reg; <strong>74</strong></span>
          </li>
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="star-outline"></ion-icon>
            <span><strong>4.9</strong> rating (537)</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="meal">
      <img
        src="{% static 'img/gallery/gallery-8.jpg' %}"
        class="meal-img"
        alt="Japanese Gyozas"
      />
      <div class="meal-content">
        <div class="meal-tags">
          <span class="tag tag--vegetarian">Vegetarian</span>
        </div>
        <p class="meal-title">FIXME</p>
        <ul class="meal-attributes">
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="flame-outline"></ion-icon>
            <span><strong>650</strong> calories</span>
          </li>
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="restaurant-outline"></ion-icon>
            <span>NutriScore &reg; <strong>74</strong></span>
          </li>
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="star-outline"></ion-icon>
            <span><strong>4.9</strong> rating (537)</span>
          </li>
        </ul>
      </div>
    </div><div class="meal">
      <img
        src="{% static 'img/gallery/gallery-9.jpg' %}"
        class="meal-img"
        alt="Japanese Gyozas"
      />
      <div class="meal-content">
        <div class="meal-tags">
          <span class="tag tag--vegetarian">Vegetarian</span>
        </div>
        <p class="meal-title">FIXME</p>
        <ul class="meal-attributes">
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="flame-outline"></ion-icon>
            <span><strong>650</strong> calories</span>
          </li>
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="restaurant-outline"></ion-icon>
            <span>NutriScore &reg; <strong>74</strong></span>
          </li>
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="star-outline"></ion-icon>
            <span><strong>4.9</strong> rating (537)</span>
          </li>
        </ul>
      </div>
    </div><div class="meal">
      <img
        src="{% static 'img/gallery/gallery-10.jpg' %}"
        class="meal-img"
        alt="Japanese Gyozas"
      />
      <div class="meal-content">
        <div class="meal-tags">
          <span class="tag tag--vegetarian">Vegetarian</span>
        </div>
        <p class="meal-title">FIXME</p>
        <ul class="meal-attributes">
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="flame-outline"></ion-icon>
            <span><strong>650</strong> calories</span>
          </li>
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="restaurant-outline"></ion-icon>
            <span>NutriScore &reg; <strong>74</strong></span>
          </li>
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="star-outline"></ion-icon>
            <span><strong>4.9</strong> rating (537)</span>
          </li>
        </ul>
      </div>
    </div><div class="meal">
      <img
        src="{% static 'img/gallery/gallery-11.jpg' %}"
        class="meal-img"
        alt="Japanese Gyozas"
      />
      <div class="meal-content">
        <div class="meal-tags">
          <span class="tag tag--vegetarian">Vegetarian</span>
        </div>
        <p class="meal-title">FIXME</p>
        <ul class="meal-attributes">
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="flame-outline"></ion-icon>
            <span><strong>650</strong> calories</span>
          </li>
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="restaurant-outline"></ion-icon>
            <span>NutriScore &reg; <strong>74</strong></span>
          </li>
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="star-outline"></ion-icon>
            <span><strong>4.9</strong> rating (537)</span>
          </li>
        </ul>
      </div>
    </div><div class="meal">
      <img
        src="{% static 'img/gallery/gallery-12.jpg' %}"
        class="meal-img"
        alt="Japanese Gyozas"
      />
      <div class="meal-content">
        <div class="meal-tags">
          <span class="tag tag--vegetarian">Vegetarian</span>
        </div>
        <p class="meal-title">FIXME</p>
        <ul class="meal-attributes">
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="flame-outline"></ion-icon>
            <span><strong>650</strong> calories</span>
          </li>
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="restaurant-outline"></ion-icon>
            <span>NutriScore &reg; <strong>74</strong></span>
          </li>
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="star-outline"></ion-icon>
            <span><strong>4.9</strong> rating (537)</span>
          </li>
        </ul>
      </div>
    </div>
</div>
</section>
{% endblock content %}






<figure class="gallery-item">
  <img
    src="{% static 'img/gallery/gallery-3.jpg' %}"
    alt="Photo of beautifully
      arranged food"
  />
</figure>
<figure class="gallery-item">
  <img
    src="{% static 'img/gallery/gallery-4.jpg' %}"
    alt="Photo of beautifully
      arranged food"
  />
</figure>
<figure class="gallery-item">
  <img
    src="{% static 'img/gallery/gallery-5.jpg' %}"
    alt="Photo of beautifully
      arranged food"
  />
</figure>
<figure class="gallery-item">
  <img
    src="{% static 'img/gallery/gallery-6.jpg' %}"
    alt="Photo of beautifully
      arranged food"
  />
</figure>
<figure class="gallery-item">
  <img
    src="{% static 'img/gallery/gallery-7.jpg' %}"
    alt="Photo of beautifully
      arranged food"
  />
</figure>
<figure class="gallery-item">
  <img
    src="{% static 'img/gallery/gallery-8.jpg' %}"
    alt="Photo of beautifully
      arranged food"
  />
</figure>
<figure class="gallery-item">
  <img
    src="{% static 'img/gallery/gallery-9.jpg' %}"
    alt="Photo of beautifully
      arranged food"
  />
</figure>
<figure class="gallery-item">
  <img
    src="{% static 'img/gallery/gallery-10.jpg' %}"
    alt="Photo of beautifully
      arranged food"
  />
</figure>
<figure class="gallery-item">
  <img
    src="{% static 'img/gallery/gallery-11.jpg' %}"
    alt="Photo of beautifully
      arranged food"
  />
</figure>
<figure class="gallery-item">
  <img
    src="{% static 'img/gallery/gallery-12.jpg' %}"
    alt="Photo of beautifully
      arranged food"
  />
</figure>




<div class="container grid grid--3-cols margin-bottom-md">
  <div class="meal">
    <img
      src="{% static 'img/meals/meal-1.jpg' %}"
      class="meal-img"
      alt="Japanese Gyozas"
    />
    <div class="meal-content">
      <div class="meal-tags">
        <span class="tag tag--vegetarian">Vegetarian</span>
      </div>
      <p class="meal-title">Japanese Gyozas</p>
      <ul class="meal-attributes">
        <li class="meal-attribute">
          <ion-icon class="meal-icon" name="flame-outline"></ion-icon>
          <span><strong>650</strong> calories</span>
        </li>
        <li class="meal-attribute">
          <ion-icon class="meal-icon" name="restaurant-outline"></ion-icon>
          <span>NutriScore &reg; <strong>74</strong></span>
        </li>
        <li class="meal-attribute">
          <ion-icon class="meal-icon" name="star-outline"></ion-icon>
          <span><strong>4.9</strong> rating (537)</span>
        </li>
      </ul>
    </div>
  </div>
</div>