{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %} {% load
crispy_forms_filters %} {% block content %}
<section class="section-cta">
  <div class="container">
    <div class="cta">
      <div class="cta-text-box">
        <div class="section-cta cta-text">
          <form class="cta-form" action="#">
            {{ form|crispy }}
            <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
          </form>
        </div>
        <div class="border-top pt-3">
          <small class="cta-text">
            Need An Account?
            <a class="ml-3 btn btn-outline-info" href="{% url 'register' %}"
              >Sign Up</a
            >
          </small>
        </div>
      </div>
      <div
        class="cta-img-box"
        role="img"
        aria-label="Woman enjoying food"
      ></div>
    </div>
  </div>
</section>
{% endblock content %}
