{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %} {% load
crispy_forms_filters %} {% block content %}
<section class="profile-cta">
  <div class="container">
    <div class="profile">
      <div class="profile-text-box">
        <div class="section-profile profile-text">
          <form class="profile-form" method="POST">
            {% csrf_token %}
            
            {{ form|crispy }}
            <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
          </form>
        </div>
        <div class="border-top pt-3">
          <small class="profile-text">
            Need An Account?
            <a class="ml-3 btn btn--fix" href="{% url 'register' %}"
              >Sign Up</a
            >
          </small>
        </div>
      </div>
      <div
        class="login-img-box"
        role="img"
        aria-label="Woman enjoying food"
      ></div>
    </div>
  </div>
</section>
{% endblock content %}
