{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %} {% load
crispy_forms_filters %} {% block content %}
<section class="section-cta">
  <div class="container">
    <div class="cta">
      <div class="cta-text-box">
        <div class="section-cta cta-text">
          <form class="cta-form" action="#">
            {{ form|crispy }}
            <div class="form-group"></div>
          </form>
          <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Login</button>
          </div>
        </div>
        <div
          class="cta-img-box"
          role="img"
          aria-label="Woman enjoying food"
        ></div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
