{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %} {% load
crispy_forms_filters %} {% block content %}
<section class="section-cta">
  <div class="container">
    <div class="cta">
      <div class="cta-text-box">
        <h2 class="heading-secondary">Get your first meal for free!</h2>
        <p class="cta-text">
          Healthy, tasty and hassle-free meals are waiting for you. Start eating
          well today. You can cancel or pause anytime. And the first meal is on
          us!
        </p>
        <form class="cta-form" action="#">
          {{ form|crispy }}
          <div class="form-group"></div>
          <button class="btn btn-outline-info" type="submit">Sign Up</button>
        </form>
        <div class=" section-featured">
          <div class="cta-text">
            Already Have An Account?
            <a class="btn btn-outline-info" href="{% url 'login' %}">Sign In</a>
          </div>
        </div>
      </div>
      <div
        class="cta-img-box"
        role="img"
        aria-label="Woman enjoying food"
      ></div>
    </div>
  </div>
</section>
{% endblock content%}
